<!-- ======== @Region: #content ======== -->
<div id="content">
    <!--LeaderBoards-->
    <div class="showcase block block-border-bottom-grey">
      <div class="container">
        <h2 class="block-title">
          About Us
        </h2>
        <h4>Hey, these are the people that made this site. It was our final project for Skill Distillery, a sixteen-week intensive bootcamp with a focus on Java full-stack development. We hope you enjoy your stay here, and are able to finally prove to your friends who is actually the best amoung you.</h4>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="about-us">
              <img class="img-circle" src="assets/img/alex.png">
            </div>
          </div>
          <div class="col-md-5">
            <h3>Alex Wagner - Lead Developer / Database Administrator</h3>
            <p>Alex has two arms, two legs, and can speak English fluently.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="about-us">
              <img class="img-circle" src="assets/img/andrew.jpeg">
            </div>
          </div>
          <div class="col-md-5">
            <h3>Andrew Lyon - Front End Developer / Associate Middleware Developer</h3>
            <p>Andrew has always been interested in programming, in fact he spent his entire college career on codecademy. His journey to Skill Distillery has confirmed that he does in fact enjoy coding.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="about-us">
              <img class="img-circle" src="assets/img/eli.jpg">
            </div>
          </div>
          <div class="col-md-5">
            <h3>Eli Harper - Front End Developer / Associate Middleware Developer</h3>
            <p>"You can leave lorem ipsum on mine."</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="about-us">
              <img class="img-circle" src="assets/img/dora.png">
            </div>
          </div>
          <div class="col-md-5">
            <h3>Dora Harper - Middleware Developer / Associate Front End Developer</h3>
            <p>No amount of good hair can top a banana.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="about-us">
              <img class="img-circle" src="assets/img/megan.jpeg">
            </div>
          </div>
          <div class="col-md-5">
            <h3>Megan Arnold - Middleware Developer / Associate Front End Developer</h3>
            <p>Megan graduated with a degree in Anthropology at CSU, and spent her last two years as a Product Owner. The many talented engineers she has worked with have convinced her to come to the dark side, which is exactly what Skill Distillery is training her to do.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /content -->
