<!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->

  <!-- ======== @Region: #content ======== -->
    <!---->
    <div class="showcase block block-border-bottom-grey">
      <div class="container">
        <h2 class="block-title">
          {{loadedUser.username}}
        </h2>
        <h4>Location: {{loadedUser.location}}</h4>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h3>{{loadedUser.username}}'s Top Skills:</h3>
            <table class="table">
              <thead>
                  <th scope="col">Skill</th>
                  <th scope="col">Level</th>
                  <th scope="col">Progress to Next Level</th>
                </thead>
                <tbody *ngFor="let uSkill of userSkills">
                  <tr *ngIf="getCurrentLevel(uSkill.points) > 0">
                    <td>{{uSkill.skill.name}}</td>
                    <td>{{getCurrentLevel(uSkill.points)}}</td>
                    <td><mat-progress-bar mode="determinate" value="{{getUserProgressToNextLevel(uSkill.points)}}"></mat-progress-bar></td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
          <div class="row">
              <h2 class="block-title">
                {{loadedUser.username}}'s Current Pending Challenges
              </h2>
            <div *ngIf="pendingChallenges.length == 0">
              <h3>No Challenges Pending for {{loadedUser.username}}!</h3>
              <br>
              <br>
            </div>
            <div *ngFor="let pchallenge of pendingChallenges" class="col-md-4 text-center">
              <span class="fa-stack fa-5x">
                <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> -->
                <img src="../../assets/img/icon/" + getIcons(pchallenge.skill.name) + ".png"/>
              </span>
              <h4 class="text-weight-strong">
                {{pchallenge.name}}
              </h4>
              <p>{{pchallenge.skill.name}}</p>
                <p>
                  <a (click)="viewChallenge(pchallenge.id)" class="btn btn-more i-right">View Challenge
                    <i class="fa fa-angle-right"></i>
                  </a>
                </p>
              </div>
          </div>
          <div class="row">
              <h2 class="block-title">
                {{loadedUser.username}}'s Current Active Challenges
              </h2>
            <div *ngIf="activeChallenges.length == 0">
              <h3>No Active Challenges for {{loadedUser.username}}!</h3>
              <br>
              <br>
            </div>
            <div *ngFor="let achallenge of activeChallenges" class="col-md-4 text-center">
              <span class="fa-stack fa-5x">
                <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> -->
                <img src="../../assets/img/icon/" + getIcons(achallenge.skill.name) + ".png"/>
              </span>
              <h4 class="text-weight-strong">
                {{achallenge.name}}
              </h4>
              <p>{{achallenge.skill.name}}</p>
                <p>
                  <a (click)="viewChallenge(achallenge.id)" class="btn btn-more i-right">View Challenge
                    <i class="fa fa-angle-right"></i>
                  </a>
                </p>
              </div>
          </div>
              <!-- WHY DOES THIS DIV BELOW BREAK THINGS-->
              <!-- ALSO GETTING WEIRD RESULTS - MAYBE QUERY IS BROKEN -->
              <div class="row">
              <h2 class="block-title">
                  {{loadedUser.username}}'s Challenge History
                </h2>
                <div *ngIf="challengesUserHasCompleted.length == 0">
                  <h3>No Challenge History for {{loadedUser.username}}!</h3>
                </div>
              <div *ngFor="let cchallenge of challengesUserHasCompleted"  class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="text-weight-strong">
                      {{cchallenge.name}}
                    </h4>
                    <p>{{cchallenge.skill.name}}</p>
                      <p>
                        <a (click)="viewChallenge(cchallenge.id)" class="btn btn-more i-right">View Challenge
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </p>
                </div>
              </div>
          </div>
        </div>
      <!-- </div> -->
