.black-fisty {
  height: 55%;
  width: 55%;
  background-image: url("../../assets/img/fistbumpblack.png");
  z-index: 99;
}

.create-challenge-header {
  font-family: 'Frijole', cursive;
  color: black;
}

.create-challenge-button {
  background-color: transparent;
  padding: 1px transparent;
  border: 1px transparent;
  margin: 1px transparent;
}
