<h1>{{displayChallenge.name}}</h1>
<p>{{displayChallenge.description}}</p>
<p>{{displayChallenge.location}}</p>
<h3>Who has accepted this challenge?</h3>
<h4>{{displayChallenge.minNumberOfChallengers}} minimum of {{displayChallenge.maxNumberOfChallengers}} maximum</h4>
<div>
  <ul>
    <li *ngFor="let accept of displayChallenge.userChallenges">
      <p>{{accept.user.username}}</p><p>{{accept.user.location}}</p>
    </li>
  </ul>
</div>
<button (click)="acceptChallenge()">ACCEPT THIS CHALLENGE</button>
