

<!-- ======== @Region: #content ======== -->
<div id="content">
  <div class="mission text-center block block-pd-sm block-bg-noise">
    <div class="container">
      <h2 class="text-shadow-white">
          {{displayChallenge.name}}
      </h2>
      <h2 class="text-shadow-white">
          Challenger: {{displayChallenge.creator.username}}
      </h2>
      <h2 class="text-shadow-white">
          Skill: {{displayChallenge.skill.name}}
      </h2>
      <h2 class="text-shadow-white">
          Status: {{displayChallenge.status.name}}
      </h2>
      <h2><span *ngFor="let tag of displayChallenge.tags" class="label label-info">{{tag.name}}</span></h2>
    </div>
  </div>
  <!--Active Challenges-->
  <div class="showcase block block-border-bottom-grey">
    <div class="container">
      <h1 align="center" class="bg-warning text-info" *ngIf="displayChallenge.minNumberOfChallengers !== displayChallenge.maxNumberOfChallengers">Need {{displayChallenge.minNumberOfChallengers}} to {{displayChallenge.maxNumberOfChallengers}} Challengers</h1>
      <h1 align="center" class="bg-warning text-info" *ngIf="displayChallenge.minNumberOfChallengers === displayChallenge.maxNumberOfChallengers">Need {{displayChallenge.minNumberOfChallengers}} Challengers</h1>
      <br>
      <h2 class="block-title">
        Description
      </h2>
      <h4>{{displayChallenge.description}}</h4>
      <br>
      <h2 class="block-title">
        Location
      </h2>
      <h4>{{displayChallenge.location}}</h4>
      <br>
      <h2 class="block-title">
          Current Challengers
        </h2>
      <div class="row">
        <!-- <div *ngFor="let accept of displayChallenge.users" class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-group fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="text-weight-strong">
            <a class="nav-link" [routerLink]="['/userprofile/' + accept.id]">
            {{accept.username}}
            </a>
            <div *ngIf="displayChallenge.status.id===2">
              <form>
                Winner: <input type="checkbox" (change)="updateUserIdList(accept.id)">
              </form>
            </div>
          </h4>

        </div> -->
        <div *ngFor="let challenge of challengers" class="col-md-4 text-center">
          <div *ngIf="(displayChallenge.status.id !== 2)">
          <tr>
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-group fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-weight-strong">
              <a class="nav-link" [routerLink]="['/userprofile/' + challenge.user.username]">
              {{challenge.user.username}}
              </a>
              <div *ngIf="challenge.accepted">
              <img src="https://cdn1.iconfinder.com/data/icons/all_google_icons_symbols_by_carlosjj-du/100/checkmark-o.png"/>
              </div>
              <div *ngIf="!challenge.accepted">
              <img src="http://www.clker.com/cliparts/9/a/a/Q/0/a/x-cross-icon-th.png"/>
              </div>
              <!-- <div *ngIf="displayChallenge.status.id===2">
                <form>
                  Winner: <input type="checkbox" (change)="updateUserIdList(challenge.user.id)">
                </form>
              </div> -->
            </h4>
            </div>
          <div *ngIf="(displayChallenge.status.id === 2)">
            <div *ngIf="challenge.accepted">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-group fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="text-weight-strong">
              <a class="nav-link" [routerLink]="['/userprofile/' + challenge.user.username]">
              {{challenge.user.username}}
              </a>
              <div *ngIf="challenge.accepted">
              <img src="https://cdn1.iconfinder.com/data/icons/all_google_icons_symbols_by_carlosjj-du/100/checkmark-o.png"/>
              </div>
              <div *ngIf="displayChallenge.status.id===2">
                <form>
                  Winner: <input type="checkbox" (change)="updateUserIdList(challenge.user.id)">
                </form>
              </div>
            </h4>
            </div>
            </div>
          </div>
      </div>
      <hr>
      <div *ngIf="displayChallenge.creator.id === testUser.id && (displayChallenge.status.id !== 3) && (displayChallenge.status.id !== 4)">
          <button type="button" class="btn btn-primary btn-block" (click)="setChallengeToActive(displayChallenge.id)">Start Challenge</button>
          <button type="button" class="btn btn-primary btn-block" (click)="setChallengeToExpired(displayChallenge.id)">Cancel Challenge</button>
        </div>
      <div *ngIf="displayChallenge.status.id == 2">
          <button type="button" class="btn btn-primary btn-block" (click)="updateWholeUserList(displayChallenge.id, displayChallenge)">Tally Results!</button>
          <div *ngIf="noWinners"><h5 style="color:red;">PICK AT LEAST ONE WINNER!</h5></div>
      </div>
        <div *ngIf="displayChallenge.creator.id !== testUser.id">
            <button type="button" class="btn btn-primary btn-block" (click)="acceptChallenge()">Accept This Challenge</button>
            <div *ngIf="showAlreadyAcceptError"><h5 style="color:red;">YOU'VE ALREADY ACCEPTED THIS CHALLENGE!</h5></div>
        </div>
<!-- /content -->

