<!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
<div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1">

  <!-- ======== @Region: #navigation ======== -->
  <div id="navigation" class="wrapper">
    <!--Hidden Header Region-->

    <!--Header & navbar-branding region-->

    <div class="container">
    </div>
  </div>
  <div class="hero" id="highlighted">
    <div class="inner">
      <!--Slideshow-->
      <div id="highlighted-slider" class="container">
        <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
          <!--Slideshow content-->
          <!--Slide 1-->
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-md-push-6 item-caption">
                <h2 class="h1 text-weight-light">
                  Welcome to
                  <span class="text-primary">Challenge Accepted</span>
                </h2>
                <h4>
                  Do you have what it takes?
                </h4>
                <p>Think you can beat your friend in a game of ping-pong? Think you have what it takes to level up and become
                  the top video gamer on the planet? Up for a game of basketball? Want to prove yourself at the bar? You
                  can do it all, and more here. Welcome to Challenge Accepted.</p>
              </div>
              <div class="col-md-6 col-md-pull-6 hidden-xs">
                <img src="assets/img/fistbump.png" alt="Slide 1" class="img-slide1 center-block img-responsive">
              </div>
            </div>
          </div>
          <!--Slide 2-->
          <div class="item">
            <div class="row">
              <div class="col-md-6 text-right-md item-caption">
                <h2 class="h1 text-weight-light">
                  <span class="text-primary">Challenge Accepted</span> Challenges You
                </h2>
                <h4>
                  Can you top the leaderboards?
                </h4>
                <p>Leaderboards are constantly updated to see who is the top challenger in each skill. Do you have what it takes
                  to climb your way to the top and topple the king?</p>
              </div>
              <div class="col-md-6 hidden-xs">
                <img src="assets/img/trophy.png" alt="Slide 2" class="img-slide2 center-block img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======== @Region: #content ======== -->
<div id="content">
  <!-- Mission Statement -->
  <div class="mission text-center block block-pd-sm block-bg-noise">
    <div class="container">
      <h2 class="text-shadow-white">
        Challenge Accepted lets you challenge a friend to a game, sport, hobby, anything. If you are lonely and don't have any friends,
        fear not, Challenge Accpeted lets you take challenges from anyone. Get out there and prove yourself.
      </h2>
    </div>
  </div>
  <!--Active Challenges-->
<app-challenge-list></app-challenge-list>
  <!--LeaderBoards-->
  <div class="showcase block block-border-bottom-grey">
    <div class="container">
      <h2 class="block-title">
        Leaderboards
      </h2>
      <h4>Find the kings and queens. Defeat them. Take their place.</h4>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <th>Skill</th>
          <th>Challenger</th>
          <th>Level</th>
        </thead>
        <tbody>
          <tr *ngFor="let yourHighness of leaderboard"  (click)="userProfile(yourHighness.user.username)">
            <td> {{ yourHighness.skill.name }} </td>
            <td> {{ yourHighness.user.username }} </td>
            <td> {{ getLevelFromPoints( yourHighness.points ) }} </td>
          </tr>
          <!-- <tr>
            <td>PingPong</td>
            <td>AlexTheDestroyer</td>
            <td>53</td>
          </tr>
          <tr>
            <td>CrossFit</td>
            <td>EliTheHair</td>
            <td>32</td>
          </tr>
          <tr>
            <td>Weight Lifting</td>
            <td>DoraTheExplora</td>
            <td>87</td>
          </tr>
          <tr>
            <td>Video Games</td>
            <td>AndrewTheOtherAndrew</td>
            <td>39</td>
          </tr>
          <tr>
            <td>Drinking</td>
            <td>MeganTheIncomplete</td>
            <td>84</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /content -->
