<div id="background-wrapper" class="benches" data-stellar-background-ratio="0.1">

<!-- ======== @Region: #content ======== -->
<div id="content">
  <div class="mission text-center block block-pd-sm block-bg-noise">
    <div class="container">
      <h2 class="text-shadow-white">
          Ready to Step Up to the Plate?
      </h2>
      <h4 class="text-shadow-white">
          Prove yourself.
      </h4>
    </div>
  </div>
  <!--Active Challenges-->
<div class="showcase block block-border-bottom-grey">
    <div class="container">
      <h2 class="block-title">
        Pending Challenges
      </h2>
      <div class="row">
        <div *ngFor="let challenge of challengeList" class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-group fa-stack-1x fa-inverse"></i> -->
            <img src="{{getIcons(challenge.skill.name)}}"/>
          </span>
          <h4 class="text-weight-strong">
            {{challenge.name}}
          </h4>
          <p>{{challenge.creator.username}}</p>
          <p>
            <a [routerLink]="['/challview/' + challenge.id]" class="btn btn-more i-right">View Challenge
              <i class="fa fa-angle-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
